<a href="https://colab.research.google.com/github/espanolamarie/BSIS-2A-/blob/main/Activity_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv("https://raw.githubusercontent.com/espanolamarie/BSIS-2A-/main/SALARY_DATA.csv")

In [ ]:
print(df)

    Employee ID     Name  Age Department  Salary
0             1    Alice   45         Hr   54000
1             2      Bob   52         It   78000
2             3  Charlie   37    Finance   66000
3             4    David   28  Markiting   72000
4             5      Eva   41      Sales   85000
5             6    Frank   53         It   90000
6             7    Grace   32    Finance   62000
7             8    Henry   25         Hr   40000
8             9      Ivy   48      Sales   94000
9            10     Jack   39  Markiting   70000
10           11    Karen   29         It   65000
11           12      Leo   44    Finance   86000
12           13     Mona   33         Hr   47000
13           14     Nina   51      Sales   88000
14           15    Oscar   36  Markiting   56000

In [ ]:
mean_salary = df['Salary'].mean()

In [ ]:
print(mean_salary)

70200.0

In [ ]:
median_salary = df['Salary'].mean()

In [ ]:
print(median_salary)

70200.0

In [ ]:
std_salary = df['Salary'].std()

In [ ]:
print(std_salary)

16549.4928709527

In [ ]:
total_salary = df['Salary'].sum()

In [ ]:
print(total_salary)

1053000